<div>
    <h2 id="page-heading">
        <span>Slice</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-slice" [routerLink]="['/slice/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Slice
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="slice?.length === 0">
        <span>No slice found</span>
    </div>
    <div class="table-responsive" *ngIf="slice?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="androidVersion"><span>Android Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="androidClassName"><span>Android Class Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="entryMethods"><span>Entry Methods</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="seedStatements"><span>Seed Statements</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="reflectionOptions.key"><span>Reflection Options</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataDependenceOptions.key"><span>Data Dependence Options</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="controlDependenceOptions.key"><span>Control Dependence Options</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="running"><span>Running</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let slice of slice ;trackBy: trackId">
                <td><div>{{slice.androidVersion}}</div></td>
                <td><div>{{slice.androidClassName}}</div></td>
                <td><div>{{slice.entryMethods}}</div></td>
                <td><div>{{slice.seedStatements}}</div></td>
                <td><div>{{slice.reflectionOptions}}</div></td>
                <td><div>{{slice.dataDependenceOptions}}</div></td>
                <td><div>{{slice.controlDependenceOptions}}</div></td>
                <td>
                    <div [class.running]="slice.running">
                        <fa-icon [icon]="'sync'" ></fa-icon>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/slice', slice.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'slice', { outlets: { popup: slice.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="slice?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
