<div class="row justify-content-center">
    <div class="col-10">
        <div *ngIf="slice">
            <h2><span>Slice</span> {{slice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Android Version</span></dt>
                <dd>
                    <span>{{slice.androidVersion}}</span>
                </dd>
                <dt><span>Android Class Name</span></dt>
                <dd>
                    <span>{{slice.androidClassName}}</span>
                </dd>
                <dt><span ngbTooltip="JSON-List with entry method names">Entry Methods</span></dt>
                <dd>
                    <span>{{slice.entryMethods}}</span>
                </dd>
                <dt><span ngbTooltip="JSON-List with seed statement names">Seed Statements</span></dt>
                <dd>
                    <span>{{slice.seedStatements}}</span>
                </dd>
                <div *ngIf="slice.slice">
                    <dt><span>Slice</span></dt>
                    <dd>
                        <monaco-editor [theme]="theme" [file]="code" class="border rounded"></monaco-editor>
                    </dd>
                </div>
                <dt><span>Reflection Options</span></dt>
                <dd>
                    <span>{{slice.reflectionOptions}}</span>
                </dd>
                <dt><span>Data Dependence Options</span></dt>
                <dd>
                    <span>{{slice.dataDependenceOptions}}</span>
                </dd>
                <dt><span>Control Dependence Options</span></dt>
                <dd>
                    <span>{{slice.controlDependenceOptions}}</span>
                </dd>
                <div *ngIf="slice.log">
                    <dt><span>Log</span></dt>
                    <dd>
                        <textarea id="logTxt" readonly style="width:100%;" rows="10" class="border rounded">{{slice.log}}</textarea>
                    </dd>
                </div>
                <dt><span>Running</span></dt>
                <dd>
                    <div [class.running]="slice.running">
                        <fa-icon [icon]="'sync'"></fa-icon>
                    </div>
                </dd>
            </dl>


            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>
