<div class="row justify-content-center">
    <div class="col-8">
        <form name="createForm" role="form" novalidate (keydown.enter)="$event.preventDefault()" (ngSubmit)="save()" [formGroup]="createForm">
            <h2 id="jhi-slice-heading">Make a new Slice</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_androidVersion">Android Version</label>
                    <p-dropdown name="androidVersion" id="field_androidVersion" [options]="versionOptions" optionLabel="version"
                        formControlName="androidVersion" placeholder="Select Android Version..." required="true" filter="true"
                        lazy="true" [style]="{'display':'block','width':'100%'}" (onChange)="onVersionSelection()"></p-dropdown>
                    <div *ngIf="createForm.get('androidVersion').invalid && (createForm.get('androidVersion').dirty || createForm.get('androidVersion').touched)">
                        <small class="form-text text-danger"
                            *ngIf="createForm.get('androidVersion').errors.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!createForm.get('androidVersion')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_androidClassName">Android Class Name</label>
                    <p-dropdown name="androidClassName" id="field_androidClassName" [options]="classOptions"
                        optionLabel="name" formControlName="androidClassName" placeholder="Select Main Class..." required="true"
                        filter="true" lazy="true" [style]="{'display':'block','width':'100%'}" (onChange)="onClassSelection()"></p-dropdown>
                    <div *ngIf="createForm.get('androidClassName').invalid && (createForm.get('androidClassName').dirty || createForm.get('androidClassName').touched)">
                        <small class="form-text text-danger"
                            *ngIf="createForm.get('androidClassName').errors.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group" *ngIf="sourceFile" class="border rounded">
                    <monaco-editor [theme]="theme" [file]="sourceFile"></monaco-editor>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_entryMethods" ngbTooltip="JSON-List with entry method names">Entry Methods</label>
                    <div class="row no-gutters mx-lg-n1">
                    <div class="col-10 px-lg-1">
                    <p-autoComplete name="entryMethods" id="field_entryMethods" formControlName="entryMethods" [suggestions]="filteredEntryMethodOptions" required="true" [dropdown]="true" [multiple]="true" [minLength]="1" placeholder="Select Entry Methods..." (completeMethod)="filterEntryMethodOptions($event)" (onKeyUp)="addEntryMethodOption($event)"></p-autoComplete>
                    </div>
                    <div class="btn-group col-2 px-lg-1" role="group">
                        <button type="button"
                        class="btn btn-outline-success btn-sm"
                        (click)="addAllEntryMethods()">Add All</button>
                        <button type="button"
                        class="btn btn-outline-danger btn-sm"
                        (click)="clearEntryMethods()">Clear</button>
                    </div>
                    </div>
                    <div *ngIf="createForm.get('entryMethods').invalid && (createForm.get('entryMethods').dirty || createForm.get('entryMethods').touched)">
                        <small class="form-text text-danger"
                            *ngIf="createForm.get('entryMethods').errors.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_seedStatements" ngbTooltip="JSON-List with seed statement names">Seed Statements</label>
                    <div class="row no-gutters mx-lg-n1">
                    <div class="col-10 px-lg-1">
                    <p-autoComplete name="seedStatements" id="field_seedStatement" formControlName="seedStatements" [suggestions]="filteredSeedStatementOptions" required="true" [dropdown]="true" [multiple]="true" [minLength]="1" placeholder="Select Seed Statement..." (completeMethod)="filterSeedStatementOptions($event)" (onKeyUp)="addSeedStatementOption($event)"></p-autoComplete>
                    </div>
                    <div class="btn-group col-2 px-lg-1" role="group">
                        <button type="button"
                        class="btn btn-outline-success btn-sm"
                        (click)="addAllSeedStatements()">Add All</button>
                        <button type="button"
                        class="btn btn-outline-danger btn-sm"
                        (click)="clearSeedStatements()">Clear</button>
                    </div>
                    </div>
                    <div *ngIf="createForm.get('seedStatements').invalid && (createForm.get('seedStatements').dirty || createForm.get('seedStatements').touched)">
                        <small class="form-text text-danger"
                            *ngIf="createForm.get('seedStatements').errors.required">
                            This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_reflectionOptions">Reflection Options</label>
                    <div>Options for handling reflection during call graph construction.</div>
                    <p-dropdown [options]="reflectionOptionsList" id="field_reflectionOptions" name="reflectionOptions" formControlName="reflectionOptions" lazy="true" [style]="{'display':'block','width':'100%'}" required="true">
                       <ng-template let-option pTemplate="item">
                           <span>{{option.value.key}}</span><span *ngIf="option.value.isDefault"><b> (Recommended)</b></span><br>
                           <span>{{option.value.description}}</span>
                       </ng-template>
                   </p-dropdown>
                </div>
                <div *ngIf="createForm.get('reflectionOptions').invalid && (createForm.get('reflectionOptions').dirty || createForm.get('reflectionOptions').touched)">
                    <small class="form-text text-danger"
                        *ngIf="createForm.get('reflectionOptions').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dataDependenceOptions">Data Dependence Options</label>
                    <div>Options for handling data dependence during system dependence graph (SDG) construction.</div>
                    <p-dropdown [options]="dataDependenceOptionsList" id="field_dataDependenceOptions" name="dataDependenceOptions" formControlName="dataDependenceOptions" lazy="true" [style]="{'display':'block','width':'100%'}" required="true">
                        <ng-template let-option pTemplate="item">
                            <span>{{option.value.key}}</span><span *ngIf="option.value.isDefault"><b> (Recommended)</b></span><br>
                            <span>{{option.value.description}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div *ngIf="createForm.get('dataDependenceOptions').invalid && (createForm.get('dataDependenceOptions').dirty || createForm.get('dataDependenceOptions').touched)">
                    <small class="form-text text-danger"
                        *ngIf="createForm.get('dataDependenceOptions').errors.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_controlDependenceOptions">Control Dependence Options</label>
                    <div>Options for handling control dependence during system dependence graph (SDG) construction.</div>
                    <p-dropdown [options]="controlDependenceOptionsList"  id="field_controlDependenceOptions" name="controlDependenceOptions" formControlName="controlDependenceOptions" lazy="true" [style]="{'display':'block','width':'100%'}" required="true">
                        <ng-template let-option pTemplate="item">
                            <span>{{option.value.key}}</span><span *ngIf="option.value.isDefault"><b> (Recommended)</b></span><br>
                            <span>{{option.value.description}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div *ngIf="createForm.get('controlDependenceOptions').invalid && (createForm.get('controlDependenceOptions').dirty || createForm.get('controlDependenceOptions').touched)">
                    <small class="form-text text-danger"
                        *ngIf="createForm.get('controlDependenceOptions').errors.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="createForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
