<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="slicerOption">
            <h2><span>Slicer Option</span> {{slicerOption.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{slicerOption.type}}</span>
                </dd>
                <dt><span>Key</span></dt>
                <dd>
                    <span>{{slicerOption.key}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{slicerOption.description}}</span>
                </dd>
                <dt><span ngbTooltip="There can only be one default per SlicerOptionType. This handled during create/save process.">Is Default</span></dt>
                <dd>
                    <span>{{slicerOption.isDefault}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/slicer-option', slicerOption.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
